@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure this z-index is higher than the parallax component */
}

.app-content {
  padding-top: 80px; /* Adjust this value to match your header height */
}